[2014-11-20 22:53] dbaq opened #2 "Android: normalizedNumber is not always returned"

[2014-11-20 23:45] #2 closed, assigned to dbaq

[2014-12-18 09:21] ranaesam opened #3 "iOS Phone Type not correct"
Hi ,

There is a problem in this plugin for iOS platform , it's returned wrong phone type .
can you fix that .

and can you return the first name separated with last name .

Thanks
rana .

[2014-12-18 10:01] #3 closed, assigned to dbaq

[2014-12-18 10:18] dbaq opened #4 "Add first name and last name"

[2014-12-18 10:26] #4 closed, assigned to dbaq

[2014-12-18 11:08] ranaesam opened #5 "Contact Name"
Hi ,

 can you please return the first name, last name

thanks
rana,

[2014-12-18 11:51] #5 closed, assigned to nobody

[2014-12-18 12:39] ranaesam opened #6 "Bug in last name and first name"
Hi,

Can you please check the error in new data , it's a contact without last name and first name

Thank
rana.

[2014-12-18 13:13] #6 closed, assigned to nobody

[2014-12-21 09:52] ranaesam opened #7 "first and last name android"
Hi ,

first name returned full name and last name returned undefined.

Thank you ,
rana,

[2014-12-21 09:54] ranaesam opened #8 "Display name in iOS"
Hi ,

display name returned a space when it's empty , and i don't want to remove the empty space to some function because may i have a contact with one character name .

thanks,
rana

[2014-12-21 10:10] ranaesam opened #9 "first name and last name iOS"
Hi,

Can you return empty not null when the first name or last name is null

Rana,

[2014-12-21 10:55] ranaesam opened #10 "contacts of type iphone (ios)"
Hi,

the plugin didn't return the contacts of type iphone .

thanks

[2015-01-09 22:48] dbaq commented on #10
Fixed via https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/commit/6a200ccfed71d476ae90900678097fddd172308d.

[2015-01-09 22:48] #10 closed

[2015-01-09 22:53] dbaq commented on #8
Hey @ranaesam,

are you sure about that? here is the json returned:

[code]

There is no space. Could you dump an example please?

[2015-01-09 22:54] dbaq commented on #9
That's what I am doing:

[code]

[2015-01-09 22:54] #9 closed

[2015-01-09 22:58] #8 closed

[2015-01-09 23:04] dbaq commented on #7
which version of android are you using? do you have a way to reproduce the issue? it is working fine for me.

android 5, nexus 5

[2015-04-25 21:03] RicardoDMelo opened #11 "Thumbnail photo"
I know this is meant to be a light plugin, but we have not a way to retreive contact photos.
I will make this feature for my project, if you want, i can pull it.

[2015-04-26 01:25] dbaq commented on #11
hey @ricksmelo, that would be great to have this feature if it does not impact the performances (on android at least). And it would be awesome if it could be an option too.

thank you for contributing anyway :beers:

[2015-05-12 01:39] dbaq commented on #11
any updates @ricksmelo?

[2015-05-12 01:40] dbaq commented on #7
Closing this issue, feel free to reopen it if you are still experiencing it.

[2015-05-12 01:40] #7 closed

[2015-05-12 01:44] ricksmelo commented on #11
So @dbaq, I did the feature, but, by now, is very simple. I only added a attribute in the object contact, labeled "thumbnailPhoto". It's a url string pointing to the android directory, virtual or not, where the photo is stored. If no photo is found, it returns a empty value. I didn't test the times, but it's still fast, on my Nexus 5 with ~110 contacts. I want to make a option, but I'm still worki

[2015-05-12 01:46] dbaq commented on #11
No rush, thank you for working on it.

You said: ```It's a url string pointing to the android directory```

So that means we need to add an extra permission to access the file storage? How are you displaying the file in the UI?

[2015-05-12 02:00] ricksmelo commented on #11
I guess not, at least I didn't add anymore permissions. Url comes like this: "content://com.android.contacts/contacts/739/photo".

If we put in a img src, android makes the work for us, like this:
<img src="content://com.android.contacts/contacts/739/photo"/>.

The only thing that we might pay attention when working with this is the default sanitization, who adds "unsafe:" at the beginning of the

[2015-05-12 02:01] dbaq commented on #11
I like that!

Have you thought about supporting iOS?

[2015-05-12 02:03] ricksmelo commented on #11
Well, I never worked with iOS platforms, but I want to. Windows Phone is C#, isn't it?

[2015-05-12 02:05] dbaq commented on #11
yes or visual basic, it would be nice to have the iOS support in the PR.

[2015-05-12 02:07] ricksmelo commented on #11
Well, I'll give a look at the language, maybe I can do something. Knowledge is never too much

[2015-06-16 17:06] philecom commented on #11
@ricksmelo Please can you paste your code for some of us to follow. I have tried but still cannot get the photo to show.

[2015-06-17 05:35] SamarRizvi opened #12 "Unable to use this plugin in Intel XDK"
I am trying to add this plugin in Intel XDK thrid-party plugins. I have given plugin id at com.dbaq.cordova.contactsPhoneNumbers and Repo URl as https://github.com/dbaq/cordova-plugin-contacts-phone-numbers.git but even after bulding the whole project for android, when I use navigator.contactsPhoneNumbers.list after deviceReady event, I get "Cannot read property 'list' of undefined". Is there anyt

[2015-06-22 08:25] natanraj commented on #11
it is an awesome one Ricksmelo. I am not a developer (android or iOS). But can do a little bit on Js/Html. Could we add a filter like mobileNumber starting with some XYZ etc. (WIll add some flexibility for developers) ... I assume Cordova takes an arguments as one of its parameter on exec. Can we pass it ? I assume cr.query may need one extra condition in ContactsManager.java. But as i said i have

[2015-06-22 17:07] dbaq commented on #11
@natanraj for feature request, open another issue thanks.

[2015-06-22 17:10] dbaq commented on #12
Hey @SamarRizvi,

Sorry for the response time. It looks like the plugin is not imported correctly. I never used the Intel XDK. Have you read https://software.intel.com/en-us/xdk/docs/adding-third-party-plugins-to-your-xdk-cordova-app

[2015-06-23 06:51] natanraj opened #13 "Request for some filters for Fetching"
Hi
Can we add one small flexibility of passing some few parameters further to filter the Contacts. (Something like DisplayName having some pattern or Ph Numbers have some ISD code etc)

[2015-06-23 06:53] dbaq commented on #13
as usual, I am ok with new features if it does not impact the performances on android. feel free to open a PR.

[2015-06-23 07:18] SamarRizvi commented on #12
Hi @dbaq ,

I have imported other plugins that are on github, they work fine. Do not understand, why your plugin doesn't work, even when Intel XDK shows your plugin as installed after build.

[2015-06-23 14:43] dbaq commented on #12
Can you share some code? Which platform are you using?

[2015-06-25 06:16] SamarRizvi commented on #12
Sorry for replying late. I am using Intel XDK and using html5+cordova. About sharing code, you first have to download Intel XDK, and then create a new html5+cordova project or use a sample html5+cordova project that they have. Then include your plugin as third party plugin in your project ( read "Including Third Party Plugin" section at https://software.intel.com/en-us/xdk/docs/adding-third-party-

[2015-06-26 05:29] natanraj commented on #13
dbaq, I am sorry about my request description. I am requesting this feature on this plugin. I am not a developer to make these changes on my own on this source code.

[2015-06-28 15:14] natanraj opened #14 "Third Party Plugin - phonegap"
Will this plugin be available on Phone Gap Third Party Plugins any time ?

[2015-06-29 23:47] dbaq commented on #14
Hi @natanraj,

This plugin won't be available on PhoneGap build because a paid account is required for open source developers to be able to publish plugins.

```Phonegap build: There was recently a policy change so if you are not a paid subscriber, you can't submit plugins.```

Sorry.

[2015-06-30 01:23] dbaq commented on #12
hey @SamarRizvi,

It is working for me when I test on my android device. You have to use the APK coming from the build, do not use their App preview:

![screen shot 2015-06-29 at 5 39 49 pm](https://cloud.githubusercontent.com/assets/1867703/8422032/2fe0e70e-1e8b-11e5-9c57-cad4f98af9ae.png)

Here is my ```onDeviceReady``` function that I used in main.js:
[code]

also in index.html, make sure to ha

[2015-06-30 01:23] #12 closed

[2015-06-30 16:37] dbaq commented on #13
Which filter do you need exactly? what is the use case?

[2015-07-01 06:22] natanraj commented on #13
Use case : Currently it fetches all the Contacts with mobile numbers present. If i need to get contacts only having some phonenumbers with isd code (say +1 for US, +44 for UK) or having DisplayName starting with 'natan'.. etc. In short a filter applied on numbers and displayName fields at the SQL Fetch itself, than processed at JS layer.

Thanks

[2015-07-01 06:24] natanraj commented on #14
Your plugin is a very useful Plugin, particularly for Android.. I am willing to pay for it (i assume it is $9.99  per month on PhoneGap).. let us know if we can collaboratively work into this.

[2015-07-13 05:00] prakashsejwani opened #15 "fetching contacts in batches"
Hi @dbaq ,

Your plugin works great for me. However, I had one request - I noticed that it takes an average of 10 secs or more to pick an entire contacts list (ranging from 700 stored contacts to 1400 stored contacts). 10 seconds is too long a wait in my opinion so can you help me with - fetching contacts in batches, where your plugin fetches contacts in batches - either by no. of contacts (i.e.,

[2015-07-13 05:25] dbaq commented on #15
If we go with the alphabet solution, it could also solve this issue https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/issues/13.

[2015-07-13 05:26] dbaq commented on #15
@prakashsejwani, i am curious to know if you have tried to retrieve the contacts list with the official cordova plugin, and if yes, what are the performances?

[2015-07-13 05:29] prakashsejwani commented on #15
@dbaq, yes i have tried it and i found yours is better in terms of performance than that, because it takes more time as it fetches all contacts, and i wanted only phoneNumbers one.

[2015-07-13 05:32] dbaq commented on #15
Glad to hear that, I have plenty of work right now and I am leaving soon for a 2 weeks vacation so I will probably have time to work on it in 4 weeks. Probably not before.

[2015-07-17 13:01] natanraj commented on #14
hi DBAQ, Hope you are enjoying your vacation. Once you are back, please let us if I can upload your plugin on your behalf to Phonegap Plugman.

[2015-07-17 20:13] dbaq commented on #14
@natanraj what do you need me to do to be able to push this plugin?

[2015-07-18 06:50] natanraj commented on #14
May I have your email Tirupur discuss further?
On 18-Jul-2015 1:43 AM, "Didier Baquier" <notifications@github.com> wrote:

[2015-07-19 16:57] dbaq commented on #14
Sure, you can find all my contact information, there http://didierbaquier.fr/

[2015-07-19 18:27] dbaq commented on #15
After looking at the code and the possibilities, I will implement a method to filter the contact list. For instance you will be able to retrieve all the contacts starting by A or B. So please, follow the development in #13.

[2015-07-19 18:27] #15 closed

[2015-07-19 18:41] dbaq commented on #13
It makes sense, after looking at the code, it should be doable. I was thinking about something like:

[code]

[2015-07-20 15:45] natanraj commented on #13
Looks good. It has to be case insensitive like Cordova plugin.
On 20-Jul-2015 12:11 AM, "Didier Baquier" <notifications@github.com> wrote:

[2015-08-09 13:29] abhishekdeshkar opened #16 "How to use this plugin ?"
Respected sir,

How do I use this plugin on PhoneGap ? I have installed the plugin in phonegap. Do I need to define .js file ? And where should I write this code? Here is my code :

document.addEventListener("deviceready", onDeviceReady, false);

        function onDeviceReady()
        {
		    navigator.contactsPhoneNumbers.list(function(contacts) {
		      alert(contacts.length + ' contacts foun

[2015-08-12 04:05] dbaq commented on #16
This plugin is not yet available for phonegap but you can use it with cordova. See #14 for more information.

[2015-08-12 04:05] #16 closed

[2015-08-13 15:39] abhishekdeshkar commented on #16
Can you please make it for phonegap ? It takes too much time to load numbers in phonegap. I request you to make one :+1:

[2015-09-23 10:22] dzimmert opened #17 "retrieving email"
"If you need more fields like the email address or if you also need to retrieve the contacts without email address, we can add an option, open an issue and I'll see what I can do."

I really would appreciate the option for additional email information :)

nice plugin!

[2015-09-25 03:39] dbaq commented on #17
Hey @dzimmert,

I don't have time to add this feature any time soon. But if you open a PR I would be happy to merge it.

For android, it is simple, you just have to query `ContactsContract.CommonDataKinds.Email.ADDRESS`, and with the cursor, check for ` if (mimetype.equals(ContactsContract.CommonDataKinds.Email.CONTENT_ITEM_TYPE)) add to object`

Make sure the performances are still good otherwise

[2015-09-25 14:15] dzimmert commented on #17
Hey, thanks for your reply.
I managed to add emails on android.
I'll try doing it for ios and will let you know if you can consider merging it :)

[2015-09-26 11:20] ronyrun commented on #17
Hello @dzimmert,

Did you implement a fork of this upgrade ?
It will be amazing to have also the photos :)

[2015-09-26 11:23] ronyrun commented on #13
Hello @dbaq,

Do you think it's possible to add also the photos values ?

[2015-09-27 04:22] dbaq commented on #13
there is another issue for the photos. see #11.

[2015-09-27 04:39] dbaq commented on #14
Since the PhoneGap Plugins directory is being deprecated on October 15h, 2015, this plugin will soon be listed in the new Cordova Plugin NPM directory at http://plugins.cordova.io/npm/index.html

[2015-09-27 04:50] dbaq commented on #14
Done http://plugins.cordova.io/npm/index.html?q=cordova-plugin-contacts-phonenumbers.

[2015-09-27 04:50] #14 closed

[2015-09-27 11:56] ronyrun commented on #13
ok thank you.

[2015-09-28 08:19] dzimmert commented on #17
Im working on email + photos.
I'll let you know when its ready ;)

[2015-09-28 09:36] ronyrun commented on #17
@dzimmert you rock :D

[2015-10-09 13:57] dzimmert commented on #17
Hey, i finally got some time and managed to pull emails and contact images on ios and android.

I havn't tested the performance nor is retrieving email+photos optional.
I also havn't found a way to check if the images exist, so there is always an url provided, even if there is no contact photo.

So there are some things left to improve, but feel free to check this out:
https://github.com/dzimmert/

[2015-10-09 23:00] ronyrun commented on #17
Thank you ! I'm testing it !

[2015-10-17 17:47] mihirpatel opened #18 "Build error for ios - duplicate symbols"
duplicate symbol _OBJC_METACLASS_$_CDVAddressBookHelper in:
Objects-normal/i386/CDVContactsPhoneNumbers.o
Objects-normal/i386/CDVContacts.o

ld: 2 duplicate symbols for architecture i386
clang: error: linker command failed with exit code 1 (use -v to see invocation)

** BUILD FAILED **

Version details:
echo "-> clang "; clang -v; echo "-> xcodebuild "; xcodebuild -version; echo "-> cordova " $(co

[2015-10-17 19:06] dbaq commented on #17
Hi @dzimmert,

Do you have any time soon to finish your devs so we can integrate them in this repo? That'd be great.

[2015-10-17 19:18] dbaq commented on #18
Hey @mihirpatel,

I was not able to reproduce. Here is what I've done and it is working fine:

* cordova create helloContacts2
* cd helloContacts2
* cordova plugin add https://github.com/dbaq/cordova-plugin-contacts-phone-numbers.git
* cordova platform add ios
* cordova build ios

Then opened the project in xcode and I was able to run it a simulator:
<img width="383" alt="screen shot 2015-10-17 at

[2015-10-17 19:34] mihirpatel commented on #18
Hi @dbaq,

Thanks for quick reply. Does this plugin work in combination with cordova-plugin-contacts? Thinking how can I leverage pickContact along with the performance improvement you have for find contact.

Thanks!

[2015-10-17 20:59] dbaq commented on #18
That's an interesting use case that you have here. I'll look into it and try to reproduce it soon.

[2015-10-17 21:22] mihirpatel commented on #18
Changed CDVAddressBookHelper to CDVAddressBookPhoneNumberHelper in .h and .m files which resolved the issue.

sed -i '' 's/CDVAddressBookHelper/CDVAddressBookPhoneNumberHelper/g' src/ios/CDVContactsPhoneNumbers.h
sed -i '' 's/CDVAddressBookHelper/CDVAddressBookPhoneNumberHelper/g' src/ios/CDVContactsPhoneNumbers.m

[2015-10-17 21:26] dbaq commented on #18
Good job @mihirpatel, care to do a PR to fix the issue?

[2015-10-17 21:49] mihirpatel commented on #18
Just sent pull request: https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/pull/19
Thanks!

[2015-10-17 21:50] dbaq commented on #18
And I just merged it. Thank you for your contribution.

[2015-10-17 21:50] #18 closed

[2015-10-17 22:53] martin-eq opened #20 "Add to Cordova Plugins registry (npm)"
Please, could you add this plugin to the Cordova Plugins registry so I can install it using PhoneGap Cloud Build system?

https://cordova.apache.org/plugins/

Thanks in advance.

[2015-10-17 22:54] dbaq commented on #20
yes, will be done by tomorrow max.

[2015-10-17 22:56] martin-eq commented on #20
Wow, ultra fast response!
Thanks a lot for the effort in building this plugin that mitigates a lot of issues I had to retrieve contacts with Cordova's contacts plugin.

[2015-10-18 00:13] dbaq commented on #20
Hey @martin-eq,

the plugin is on NPM: https://www.npmjs.com/package/cordova-plugin-contacts-phonenumbers and I added it to Cordova plugins registry: https://cordova.apache.org/plugins/?q=cordova-plugin-contacts-phonenumbers

Let me know if you need anything else.

Cheers.

[2015-10-18 00:13] #20 closed

[2015-10-18 14:48] ronyrun commented on #17
sorry, my bad I'm testing his update right now

[2015-10-18 16:59] ronyrun commented on #17
OK here is the tests results :

![image](https://github-cloud.s3.amazonaws.com/assets/7273443/10565160/3da3c4c4-75ca-11e5-918b-9a3c14d82def.png)

I have the image but not the email.

[2015-10-18 17:12] ronyrun commented on #17
Also there is no lastName property

[2015-10-19 15:34] ronyrun commented on #17
hello @dbaq and @dzimmert

Concerning IOS, the Cordova compliation is now impossible with the dzimmert fork.

[code]

[2015-10-19 16:50] dzimmert commented on #17
Hey guys,
sorry that my changes wont work for you.
Make sure to use "dev" not "master".

Unfortunately i dont have access to a mac any more and got no time to work on it any time soon.

About the "ld: 2 duplicate symbols for architecture i386" error:
I think I had to remove "contacts.m" under "build phases" > "compile sources".
I also needed to readd a main source there to solve some other errors.

[2015-10-19 16:53] dbaq commented on #17
Thanks @dzimmert, I will try to look at it soon.

[2015-10-19 19:00] ronyrun commented on #17
thanks guys !

[2016-01-07 06:41] Saneesh opened #22 "How can I access the value of 'contacts' outside of the navigator.contactsPhoneNumbers.list()?"
Hello,
When I implement this code with DrupalGap, I want to access the value from the function in the navigator.contactsPhoneNumbers.list(), outside if it. I want to create a variable with the HTML table tags to the contact names and phone numbers of the contacts. The access the variable outside of the function.

contactCount ='';
navigator.contactsPhoneNumbers.list(function(contacts) {
      cont

[2016-01-07 09:38] #22 closed

[2016-02-05 16:45] madibalive opened #23 "wrap plugin into angular -- specifically ngCordova"
HI , need to expose your api ,thought angular service , am planning wrap it inside a promise , to be available the angular digest circle ,
also i see on issue , there is filter api exposed any documentation on that would be appreciate
i cant find the navigator.contact namespace , am using this on android , am thinking am missing a step

[code]

any advice would be appreciate very much

[2016-02-08 17:49] dbaq commented on #23
hey @madibalive,

here is what I've done for another app:

[code]

[2016-02-10 13:50] madibalive commented on #23
thanks -- :100:

[2016-02-10 13:50] #23 closed

[2016-02-17 12:54] bastian-meier opened #24 "build on cordova-ios 4.0.1 failed"
I am using phonegapbuild and wanted to update to ios cordova version 4.0.1

The Build log shows this error:

[code]

[2016-02-17 21:41] dbaq commented on #24
hey @bastian-meier,

Can you please provider more information. The plugin is building correctly for iOS. If it is an issue with phonegapbuild, you should contact them directly.

[2016-02-21 23:31] uriva opened #25 "Add support for android 23 (M) - request permissions on runtime"
Hi,
Does this plugin support asking permissions on runtime?
Thanks

[2016-02-25 16:30] #25 closed

[2016-02-25 16:30] dbaq commented on #24
Closing this one since no updates. Feel free to reopen it.

[2016-02-25 16:30] #24 closed

[2016-03-03 17:06] robertlight opened #27 "navigator.contactsPhoneNumbers is undefined"
I have the plugin installed (as per the docs)

but navigator.contactsPhoneNumbers is showing up undefined in my javascript.

any ideas?

[2016-03-03 17:47] robertlight commented on #12
I am also getting navigator.contactsPhoneNumbers as undefined, I get "Cannot read property 'list' of undefined"

I am using phonegap and running inside of intelliJ using "serve android"

[2016-03-06 08:48] malek75 commented on #27
Hi!

You can use navigator.contactsPhoneNumbers only after device is ready :

[code]

[2016-03-08 00:03] robertlight commented on #27
I started with the basic hello-world app:
$ phonegap create myApp
$ phonegap build android
$ phonegap plugin add https://github.com/dbaq/cordova-plugin-contacts-phone-numbers.git
$ phonegap build android
I kept getting a compile error which went away when I did the following:
$ phonegap platform update android@5.0.0
$ phonegap build android
..this worked
$ phonegap serve android

but now navigator

[2016-03-08 00:29] robertlight commented on #27
I thought maybe it was that I was using the github version so I did the following:

$ phonegap plugin rm com.dbaq.cordova.contactsPhoneNumbers
$ phonegap plugin add cordova-plugin-contacts-phonenumbers
$ phonegap build android

...but alas... navigator.contactsPhoneNumbers was still undefined. (note my use of the non-plural form in my previous note was a editor's error... I've been using the right

[2016-03-08 00:34] robertlight commented on #27
[myApp.zip](https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/files/162345/myApp.zip)

above is my entire tree - perhaps you can find the boneheaded thing I did wrong.

[2016-03-08 06:01] malek75 commented on #27
The best way to with plugins app is :

phonegap create app
phonegap platform add android
phonegap plugin add my-plugin
phonegap build android
phonegap run android

NOT WITH SERVE

[2016-03-08 14:30] robertlight commented on #27
I figured out some of the problems:
1) instead of "phonegap create app".... you have to do  "phonegap create com.app"
2) need to edit config.xml and change:
         <icon src="icon.png" />
    to:
         <icon src="www/icon.png" />

3) Instead of "phonegap platform add android" you have to use "phonegap platform add android@5.0.0"

It now works using "phonegap run android"

but NOT "phonegap se

[2016-03-15 16:42] johnnyoin opened #28 "Build error on android with cordova 5"
Hi,
When building my project for android I get the following error:
`cannot find symbol: cordova.hasPermission(string)`
Anyone has a hint about this ?

[2016-03-15 17:26] dbaq commented on #28
probably a regression due to this PR: https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/pull/26

will look at it

[2016-03-16 18:35] shikarkhane opened #29 "CDVContactsPhoneNumbers.m:22:9 'Cordova/NSArray+Comparisons.h' file not found"
On xcode, archive build fails with error
`CDVContactsPhoneNumbers.m:22:9 'Cordova/NSArray+Comparisons.h' file not found`

Xcode version - Version 7.2.1 (7C1002)
Cordova-Ios - 4.1.0
Cordova version - 6.0.0
com.dbaq.cordova.contactsPhoneNumbers" spec="~0.0.6" ( installed via nam and direct git also)

Archive build succeeds, if i remove this plugin.

[2016-03-18 01:48] dbaq commented on #27
still having the issue? i'll recommend you to do not use phonegap but cordova directly.

[2016-03-18 01:58] #29 closed

[2016-03-18 01:59] dbaq commented on #29
Thanks for the report @shikarkhane, I pushed a commit on master, it should be fine now. I will publish a new release soon.

[2016-03-18 02:10] dbaq commented on #28
Hello @johnnyoin,

which `android:targetSdkVersion` do you have in your `AndroidManifest.xml` file? I just tried on my phone and it worked perfectly. Here is what I have:
`<uses-sdk android:minSdkVersion="14" android:targetSdkVersion="23" />`

[2016-03-18 08:15] johnnyoin commented on #28
Hi @dbaq,

I have: `<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="22" />`

[2016-03-18 14:07] shikarkhane commented on #29
Works now. Cheers

[2016-03-20 07:51] kevin-mills commented on #28
I am experiencing the same problem on compilation. Setting version as above does not resolve.

[2016-03-20 18:27] panuganti opened #30 "Please add Typescript definition file"
I use Angular2/Ionic-v2 with typescript. Please add a corresponding typescript definition file.

[2016-03-21 01:15] dbaq commented on #27
Closing this one.

[2016-03-21 01:15] #27 closed

[2016-03-21 01:18] dbaq commented on #28
Hey guys, I tried again with cordova 5.0.0, 6.0.0, I cannot reproduce. `$ cordova build android` works for me. Are you sure you got the latest version?

You can make sure via
`$ cordova plugin rm com.dbaq.cordova.contactsPhoneNumbers`
`$ cordova plugin add https://github.com/dbaq/cordova-plugin-contacts-phone-numbers.git`

can you guys give me more information so I can reproduce?

thanks

[2016-03-21 01:43] dbaq commented on #30
hey @panuganti, I added a TS definition file. Let me know if it works for you.

[2016-03-21 21:08] panuganti commented on #30
Thanks. I'll check tomorrow and let you know.

[2016-03-21 21:32] panuganti commented on #30
hey @dbaq, I'm trying to use it in my ionic-v2 (uses Angular2) app. I installed the plugin and attempted to use it in one of my page by import {ContactsPhoneNumbers, Contact} from '<path_to_.d.ts file>'; (I first added export to all the interfaces in the .d.ts file.

then, in my code, when I tried,
 this.platform.ready().then(() => {
                navigator.contactsPhoneNumbers.list(contacts =>

[2016-03-22 05:22] dbaq commented on #30
Hey @panuganti,

I am no TS expert yet, I need to dig into ionic v2. I will try to take a look at it quickly.

[2016-03-22 11:54] johnnyoin commented on #28
Alright I got it, the problem was the version of cordova-android.
Running `cordova platform update android@5.1.1` did the trick.

[2016-03-22 18:09] kevin-mills commented on #28
Thanks guys upgrading cordova version worked for me too.

[2016-03-22 23:47] dbaq commented on #28
Good job @johnnyoin for figuring this out! :+1:

[2016-03-22 23:47] #28 closed

[2016-04-06 20:49] calanti opened #32 "Contact Photo"
Firstly I would like to say thank you so much for your work here. I have been struggling for a while with stupidly long load times on my app, and trading out the official contacts plugin for your's has dropped my loading time from 10 seconds to less than 1, it's unbelievable, well done.

Secondly, I apologise as this question has been discussed already in issue #11 , so I would just like to know i

[2016-04-06 21:17] dbaq commented on #32
Hey @calanti,

I am glad to hear you got your performance issues solved with this plugin.

I don't have a lot of bandwidth to work on this plugin right now but I will try to take a look at it during the next few days.

I'll keep you posted.

[2016-05-03 20:30] crazyshock opened #33 "How delete or update contact?"
Hello,

How do I update a contact?
Or delete only a mobile phone number if the user has 2 numbers.

Thankx!

[2016-05-04 03:48] dbaq commented on #33
Hello @crazyshock,

This plugin is a efficient read only plugin. If you need to create/update/delete contacts, please use this library https://github.com/apache/cordova-plugin-contacts.

Cheers

[2016-05-04 03:48] #33 closed

[2016-07-22 09:04] miskinh opened #34 "ngCordova"
I think your plugin is brilliant. I have started using it with Ionic and the ngCordova module.

I have included a basic interface for this plugin in my [ngCordova](https://github.com/miskinh/ng-cordova/tree/contacts-phone-numbers) fork. I will be submitting a pull request to ngCordova once I have added some testing. I have also created a mock definition in ngCordovaMocks which I have found really

[2016-08-02 08:49] NickyYo opened #35 "Doesn't work with Iphone6."
Hi, when i attempt to pull all contacts no callback is ever called.

Do we have any idea what may be causing this?

Thanks an awesome plugin, the speed benchmarking is incredibly useful.

[2016-08-02 09:45] #35 closed

[2016-09-17 23:31] MarinoRaul commented on #30
What's up about this issue? Any solution?

I have the same problem!

Thanks!

[2016-09-19 18:35] dbaq commented on #30
Feel free to contribute to this issue. I have no time right now to fix this one.

[2016-09-19 18:36] MarinoRaul commented on #30
I solved with:

declare var navigator: any in my typescript file!

Thanks!

[2016-09-27 06:54] openqubit opened #36 "Error when compiling"
I get this error when i try compiling my app

[code]

[2016-09-27 15:55] dbaq commented on #36
Hello @openqubit, updating to the latest cordova/cordova-android should fix your problem.

[2016-09-28 03:37] openqubit commented on #36
Hi @dbaq  that was the problem. I updated meteor and everything works.

[2016-09-28 03:37] #36 closed

[2016-10-08 15:46] openqubit opened #37 "Cannot read phone contacts"
I have noticed that the plugin only reads contacts available in the sim card and do not read phone contacts. Can i read from the phone contacts?.

[2016-10-08 15:51] openqubit commented on #37
Had saved contacts with hyphens. I solved the issue. I can display contacts from phone contacts.

[2016-10-08 15:51] #37 closed

[2016-11-30 19:30] John-Henrique opened #38 "How to know if contact have a photo?"
I'm using this plugin (thanks) and can display photo of contact but, contacts without a photo... how I can to know if contact have a photo? Contacts without photo display a 404 image :-(

[2017-01-17 10:32] georgechapman opened #39 "Expose device data to application"
Hi,

I need some help with accessing the data... I am trying to expose the data retrieved from the device to my application but without success. I am using the following code which executes fine; writing a list of the normalized numbers and then on completion of this writing an array of these number to the console.

[code]

What i need is to pass this array to my application however it is not visi

[2017-02-28 15:25] DilipNikam opened #40 "How to use this plugin in iOnic2 ?"
I am new to iOnic 2. I have followed your instruction & trying to use this plugin in my project but not succeeded. Facing below two errors.

If use **import {ContactsPhoneNumbers, Contact} from 'com.dbaq.cordova.contactsPhoneNumbers'**
1) Cannot find module "com.dbaq.cordova.contactsPhoneNumbers"

if use **declare var contactsPhoneNumbers:any;**
2) Uncaught (in promise): ReferenceError: contactsPh

[2017-03-02 02:33] AbrahamOdoi opened #41 "PLUGIN NOT WORKING"
Hello team

I have been trying ti get the below plugin to work for months without any success. i copied the exxact example from the page https://www.npmjs.com/package/cordova-plugin-contacts-phonenumbers and it still doesnt work.

Plugin:
<plugin name="cordova-plugin-contacts-phonenumbers" />

Please help me out

[2017-03-02 17:20] dbaq commented on #41
hey @AbrahamOdoi,

do you have any errors/stacktrace/code to share?

[2017-03-02 21:00] AbrahamOdoi commented on #41
https://github.com/AbrahamOdoi/mecamera.git

Above is my git repository. I dont have any error.

	document.getElementById("getContact").onclick = function() {
			navigator.contactsPhoneNumbers.list(function(contacts) {
				alert(contacts.length + ' contacts found');
				for (var i = 0; i < contacts.length; i++) {
					// console.log(contacts[i].id + " - " + contacts[i].displayName);
					for (var

[2017-03-03 13:45] DilipNikam commented on #39
Same problem I am also facing.... If you have any solution pls let me know..... thanks...

[2017-03-03 13:49] mislavlukac commented on #17
@dbaq any updates about email retrieval?

[2017-03-03 18:32] dbaq commented on #17
hey @mislavlukac, no updates, I've never received a PR. Feel free to contribute, it should be fairly easy to retrieve the email as well.

[2017-03-03 18:35] dbaq commented on #39
hey guys,

here is a piece of code that I wrote with TypeScript:

[code]

[2017-03-03 18:35] #39 closed

[2017-03-03 18:36] dbaq commented on #40
please see #39

[2017-03-03 18:36] #40 closed

[2017-03-03 18:37] dbaq commented on #41
Are you waiting that cordova init event is fired?

[2017-03-03 18:38] dbaq commented on #38
hey @John-Henrique this plugin does not return any photo. You might be using a fork :)

[2017-03-03 18:38] #38 closed

[2017-03-04 13:07] DilipNikam commented on #39
Thanks for the quick response.Will implement and check

[2017-03-04 13:07] DilipNikam commented on #40
Thanks for the quick response.Will implement and check

[2017-03-04 15:15] DilipNikam commented on #39
I have figure out how to get contacts list in page variables after lots of digging and help from @dbaq . Thanks for your help.

First you need to create Observable method as below.

    getContacts() : Observable<any> {
     return Observable.create(observer => {
         return navigator.contactsPhoneNumbers.list(function(contacts) {
            observer.next(contacts);
            observer.compl

[2017-03-05 13:43] AbrahamOdoi commented on #41
nope i am actually just executing on device ready

[2017-03-05 18:03] AbrahamOdoi commented on #41
I believe that should trigger the cordova init. Please have you been able to go through the code

[2017-03-07 00:18] dbaq commented on #41
Hey @AbrahamOdoi, your code looks fine to me. Can you try to add two console.log around this line https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/blob/master/www/contactsPhoneNumbers.js#L38 (in your plugin folder) and check if you see one of these logs. If you don't that means that the plugin is never called and the issue is somewhere in your code.

[2017-03-07 09:37] AbrahamOdoi commented on #41
Do you have a skype id i can contact you on.

[2017-03-07 09:39] AbrahamOdoi commented on #41
@dbaq I am a bit confused the code you shared isn't familiar

[2017-03-07 17:09] dbaq commented on #41
hello @AbrahamOdoi let's keep the discussion here. Can you please share the full structure of your directory, you should have a directory for cordova where you can find this file (`contactsPhoneNumbers.js`)

[2017-03-08 12:46] AbrahamOdoi commented on #41
I have included the contactsPhoneNumbers.js but still same. is there a sample project i can make use of

[2017-03-15 14:15] peterchibunna commented on #36
`monaca platform update android@5.1.1` fixed it for me. Sorry for the troubles. Thank you too.

[2017-03-27 10:56] peterchibunna opened #42 "Sorting Contacts"
Hi, IS there any way to have the contact list sorted?

[2017-03-27 16:31] dbaq commented on #42
Hello @peterchibunna,

The plugin does not offer the possibility to sort the contact list. You can sort the list in your javascript code. It should be fairly easy.

Cheers,

[2017-03-27 16:31] #42 closed

[2017-03-28 19:34] MarinoRaul opened #43 "got error with last version of cordova-plugin-contacts"
typescript: plugins/com.dbaq.cordova.contactsPhoneNumbers/www/ContactsPhoneNumbers.d.ts, line: 18
            Interface 'Contact' incorrectly extends interface 'ContactProperties'. Types of property 'phoneNumbers' are
            incompatible. Type 'ContactPhoneNumber[]' is not assignable to type 'ContactField[]'. Type
            'ContactPhoneNumber' is not assignable to type 'ContactField'. Prop

[2017-03-28 21:53] dbaq commented on #43
hello @MarinoRaul,

The typescript definition was an experimentation and I believe it is not working properly. I don't have time currently to fix it. I do accept PR if you want to participate to this project.

Cheers,

[2017-03-28 21:53] #41 closed

[2017-03-30 13:22] peterchibunna commented on #32
I have added the contact thumbnail feature; but I need someone to test it for performance issues. I can do a PR if requested.

[2017-03-30 14:06] dbaq commented on #32
hey @peterchibunna, any contribution is welcome. Please open a PR and do some performance testing (especially on android).

[2017-05-12 09:35] peterchibunna commented on #32
I think we can close this. It didn't affect performance at all.

[2017-05-12 20:03] dbaq commented on #32
hey @peterchibunna, thanks for bumping this thread, let's move the discussion back to #44

[2017-05-25 18:24] kodeine commented on #13
is this feature implemented?

[2017-05-25 18:52] dbaq commented on #13
@kodeine not yet, but any contribution is welcomed :)

[2017-05-29 03:26] dbaq commented on #11
Closing this one since #44 has been merged.

[2017-05-29 03:26] #11 closed

[2017-05-29 03:26] dbaq commented on #32
Closing this one since #44 has been merged. Thanks @peterchibunna 🍻

[2017-05-29 03:26] #32 closed

[2017-05-29 03:27] dbaq commented on #43
Closing this one in favor of #30.

[2017-05-29 03:27] #43 closed

[2017-05-29 03:38] dbaq commented on #11
I released a new version on npm https://www.npmjs.com/package/cordova-plugin-contacts-phonenumbers (v0.0.9)

[2017-05-29 03:39] dbaq commented on #32
I released a new version on npm https://www.npmjs.com/package/cordova-plugin-contacts-phonenumbers (v0.0.9)

[2017-05-29 15:08] peterchibunna commented on #32
Thanks. Please do not forget to note that the thumbnail is only available on Android at the moment.

[2017-08-13 16:18] kodeine opened #46 "install error"
[code]

[2017-08-23 05:47] kodeine commented on #46
no one?

[2017-08-23 05:47] kodeine commented on #46
[code]

[2017-08-23 08:59] seniorwebdev commented on #46
Not sure, I have the same problem on Mac, but when I build android all is fine. Maybe this related by node/cordova/ionic/npm versions?

Android:
npm: 4.2.0
node: 7.10.1
cordova: 7.0.1
ionic: 3.5.0

MAC:
npm:5.3.0
node:8.2.1
cordova:7.0.1
ionic:3.9.2

Maybe some one know what could be a problem in fetching plugin?

[2017-08-28 01:03] dbaq commented on #46
interesting, i am going to merge the open PR to see if that helps.

[2017-08-28 15:27] kodeine commented on #46
@dbaq it does help. :)

[2017-08-28 16:24] dbaq commented on #46
thanks @kodeine for your contribution 👍

[2017-08-28 16:24] #46 closed

[2017-10-04 15:23] timoberlin opened #49 "cordova plugin add cordova-plugin-contacts-phonenumbers"
Trying to add your plugin leads to the following error:

Error: Failed to fetch plugin git+https://github.com/dbaq/cordova-plugin-contacts-phone-numbers.git via registry.
Probably this is either a connection problem, or plugin spec is incorrect.
Check your connection and plugin name/version/URL.
Failed to get absolute path to installed module

Discovered plugin "com.dbaq.cordova.contactsPhoneNumbe

[2017-10-04 23:58] #49 closed

[2017-12-05 12:03] MikeVerhees opened #50 "fix for installation issue not released"
I've encountered an issue while using the latest release version that is already fixed in #47
Would be great if a new release is made that supports this so we can use
`cordova plugin add cordova-plugin-contacts-phonenumbers` again without issues instead of having everyone using the unstable git version or forking.

[2017-12-05 20:11] dbaq commented on #50
Ooops, thanks for the heads up! I published a new version on npm (0.0.10) => https://www.npmjs.com/package/cordova-plugin-contacts-phonenumbers

[2017-12-05 20:11] #50 closed

[2018-02-06 13:26] DamilolaJegede opened #51 "App crashes when method is called — iOS 11.3"
Please check that this plugin works with iOS 11.3. As soon as the plugin is called, the app crashes. Please help check.

Thanks a million.

[2018-02-07 02:53] dbaq commented on #51
Can you share the xcode stack trace? Thank you

[2018-02-12 10:39] eranshmil opened #52 "Package dependencies issue"
After I install the plugin everything fine.
But each time I run a Cordova command (e.g running on a device), it adds a new package to the dependencies: com.dbaq.cordova.contactsPhoneNumbers
So, I end with two dependencies related to this plugin:
cordova-plugin-contacts-phonenumbers and com.dbaq.cordova.contactsPhoneNumbers

To install some other stuff using npm, I had to remove com.dbaq.cordova.co

[2018-03-31 04:42] deounix commented on #30
@MarinoRaul Can u explain how did you solve this? any simple example ?

[2018-03-31 04:45] deounix opened #53 "Ionic 3"
Can this plugin work with ionic 3 ? Any example ?

[2018-04-01 19:11] dbaq commented on #53
hello @deounix, yes, it is a cordova plugin so it does work:

[code]

[2018-04-01 19:11] #53 closed

[2018-05-09 20:23] Bramzor opened #54 "Benchmark was performed with hasPhoneNumber?"
I was wondering if you performed the benchmark with hasPhoneNumber on true in the official plugin? Or was this option not available at that time?

Wondering if I still need to combine both the plugins or if it was fixed with hasPhoneNumber in the official plugin.

[2018-05-13 18:51] msarsha commented on #51
Same issue here, app crashes when invoking the `list` function (it does exists if I console.log the function)

[2018-06-26 13:05] asifmehmood91 commented on #46
Having same problem while installing this plugin

[2018-06-26 14:10] asifmehmood91 commented on #46
Error - Plugin error (you probably need to remove plugin files from your app): Fetching plugin "com.dbaq.cordova.contactsPhoneNumbers" via npm Failed to fetch plugin com.dbaq.cordova.contactsPhoneNumbers via registry. Probably this is either a connection problem, or plugin spec is incorrect. Check your connection and plugin name/version/URL. Error: Not found : com.dbaq.cordova.contactsPhoneNumbers

[2018-06-26 14:10] asifmehmood91 commented on #46
`Error - Plugin error (you probably need to remove plugin files from your app): Fetching plugin "com.dbaq.cordova.contactsPhoneNumbers" via npm Failed to fetch plugin com.dbaq.cordova.contactsPhoneNumbers via registry. Probably this is either a connection problem, or plugin spec is incorrect. Check your connection and plugin name/version/URL. Error: Not found : com.dbaq.cordova.contactsPhoneNumber

[2018-06-26 14:11] asifmehmood91 opened #55 "unable to fetch this plugin during installation"
`Error - Plugin error (you probably need to remove plugin files from your app): Fetching plugin "com.dbaq.cordova.contactsPhoneNumbers" via npm Failed to fetch plugin com.dbaq.cordova.contactsPhoneNumbers via registry. Probably this is either a connection problem, or plugin spec is incorrect. Check your connection and plugin name/version/URL. Error: Not found : com.dbaq.cordova.contactsPhoneNumber

[2018-06-26 14:35] dbaq commented on #55
hey @asifmehmood91

Install the plugin via:

```cordova plugin add https://github.com/dbaq/cordova-plugin-contacts-phone-numbers.git```

[2018-06-26 14:40] asifmehmood91 commented on #55
![sketch](https://user-images.githubusercontent.com/14163289/41919783-c1805672-7978-11e8-9f59-b1ebbef82860.png)
here is the error while installing through `phonegap plugin add https://github.com/dbaq/cordova-plugin-contacts-phone-numbers.git`

[2018-07-20 13:14] Karthik-king commented on #51
Yeah. I also have the same issue here.
Shows message as "Message from debugger: Terminated due to memory issue"

![rsz_43003841-744eacb0-8c4b-11e8-9d07-53989b4baa31](https://user-images.githubusercontent.com/41477999/43004185-9edb077a-8c4c-11e8-80e8-7aacc16cbe73.jpg)

Thanks in advance.

[2018-07-23 13:09] Purushoth-ltr commented on #51
Any updates regarding this issue?

[2018-08-06 19:27] dbaq commented on #54
hey @Bramzor,

That option was not available at that time (4 years ago).  I truly hope they improved the performance since then. I am just keeping this plugin up to date because developers are still using it.
If you want to run a performance test, make sure to use a phone with a google account linked with a lot of google contacts on top of the phone contacts.

[2018-08-06 19:27] #54 closed

[2018-08-06 19:32] dbaq commented on #51
hey @Karthik-king, can you please detail your solution? I am confused how the memory issue disappeared.

Does anyone else have a stacktrace to share?

[2018-08-06 19:42] dbaq commented on #52
Fixed via 93506d4ad97ae80582399de2d7656c745b38140e.

[2018-08-06 19:42] #52 closed

[2018-08-06 19:42] dbaq commented on #55
Should be fixed via 93506d4ad97ae80582399de2d7656c745b38140e

[2018-08-06 19:42] #55 closed

[2018-09-29 00:03] kodeine opened #56 "App Crash: Android 5.1"
<img width="955" alt="screen shot 2018-09-28 at 7 03 06 pm" src="https://user-images.githubusercontent.com/8620059/46238387-29737580-c351-11e8-855a-5ec3fa94130c.png">

[2018-10-29 17:37] dbaq commented on #56
hey @kodeine,

could it be a permission issue? this code https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/blob/master/src/android/ContactsManager.java#L98-L102 returns null and it should not.

[2019-01-16 17:47] ppetree commented on #17
Just chiming in here... emails would be great to have!

[2019-01-16 17:53] dbaq commented on #17
hi @ppetree, contributions are welcome. Feel free to open a PR, I'll review it.

[2019-01-16 19:40] ppetree commented on #17
I don’t have a Mac. Also, since yours is a fork I suspect iOS builds are throwing depreciation warnings as a number of variables were deprecated and replaced with new objects. You may want to do a PGB build and check the iOS logs.

Sent from my iPhone

[2019-02-22 05:47] Lomski commented on #51
I have the same issue in my app with iOS 12. It can happen because of ios privacy policy. According to the official plugin documentation:

And their further advice is to add this code to config.xml

[code]

[2019-02-22 22:43] dbaq commented on #51
hey @Lomski, do you mind opening a PR? I would really appreciate it. Thanks

[2019-02-22 22:44] dbaq commented on #56
Closing since no response.

[2019-02-22 22:44] #56 closed

[2019-02-25 06:56] Lomski commented on #51
Make a pull request [https://github.com/dbaq/cordova-plugin-contacts-phone-numbers/pull/57](url)

[2019-02-25 15:40] dbaq commented on #51
`cordova-plugin-contacts-phonenumbers@0.0.12` has been released thanks to @Lomski !

[2019-02-25 15:40] #51 closed

[2019-03-13 01:51] kodeine opened #58 "null pointer exception"
i received this bug report on play store

![image](https://user-images.githubusercontent.com/8620059/54247851-e2e59200-4510-11e9-8a75-70e2d10ad257.png)

[2019-03-16 09:43] minimedj commented on #17
I also want to have this plugin with email option. I have Mac but I have no experience coding for it. I know only Python and JS.

Might I be helpful somehow?

[2019-03-21 03:24] dbaq commented on #58
Thanks for the report @kodeine.

My first guess would be that the user removed the permission `android.permission.READ_CONTACTS`. Have you reproduced on your side?

[2019-04-01 20:27] scorobogaci opened #59 "How to import Navigator from this library in typescript?"
I have tried this syntax , in Ionic 4 , but it does not help :(
`import * as navigator from 'cordova-plugin-contacts-phonenumbers'`

[2019-04-01 21:08] scorobogaci commented on #59
solved by adding
`declare let navigator: any;` to my typescript component

please close issue

[2019-04-03 15:10] #59 closed

[2019-04-03 15:10] dbaq commented on #30
Please refer to #59 and the readme. Thanks.

[2019-04-03 15:10] #30 closed

[2019-05-04 18:44] vicatcu opened #61 "IOS: Is NSContactsUsageDescription requirement applicable to this plugin?"
The cordova-plugin-contacts repository has the section excerpted below in the README. Does it also apply to this plugin? if so, maybe it should be duplicated in the README. If not, it should probably also be stated why not. I suspect it does.

[2019-05-06 15:43] dbaq commented on #61
You are correct. Do you mind opening a PR?

[2019-05-07 13:38] vicatcu commented on #61
Can do :+1:

[2019-05-07 14:12] dbaq commented on #61
Thanks, Victor. I really appreciate it! 🍻

[2019-05-07 14:12] #61 closed

[2019-08-19 06:07] BDuell commented on #17
Hello @dbaq - thank you so much for the great plugin!

I needed the email added as well, so I put up my changes here: https://bitbucket.org/BradDuell/cordova-plugin-contacts-phone-numbers-emails

Feel free to take this code and implement it in your plugin.

Thanks again for all your work on this!

[2019-10-17 09:12] Ebioro commented on #17
Hello @BDuell: I also need the emails. Is there an npm package for it?
Hello @dbaq: How would it be possible to add the thumbnail for IOS?

Thank you both for your contribution

[2019-12-27 05:27] elzahaby opened #63 "Missing Contacts"
For some Reason, some Contacts on IOS are not in the list. I tried to manipulate them but the simply dont apear.

[2019-12-27 17:11] dbaq commented on #63
Hi @elzahaby,

Can you please provide more information? Can you share the iOS version, Xcode logs, and a concrete reproducible example?

Thank you

[2019-12-28 07:29] elzahaby commented on #63
Hi, I am sorry I just figured out what was wrong, using Ajax Request to send data to the server has some kind of Maximum, by spliting the contacts list every 200 entries i was able to send the whole of it.

[2019-12-28 07:29] #63 closed, assigned to dbaq

[2020-04-04 10:42] johnagar commented on #17
Hello folks. First time I am adding a comment so apologies if it all goes wrong. I am using "cordova-plugin-contacts" in my app because I need to access emails, but this package has been deprecated. I would also like to access "groups" that are contained in the android contact list. My app sends invitations to meetings etc and a "group" would be a nice feature. Any chance of getting support for bo

[2020-07-30 12:58] RonYaari opened #64 "Capacitor support"
Can you please add support for Capacitor or Ionic wrapper for this plugin?

[2020-08-02 15:49] dbaq commented on #64
Thanks for opening this issue. Anyone is welcomed to submit a PR.

[2021-09-27 17:43] Maheshvy opened #65 "this plugin is not working for android 11 devices"
This plugin not working in android 11 devices please let us know if anything required in code level or any permission changes.

[2021-11-25 12:13] Maheshvy opened #66 "cordova.file.externalRootDirectory not working in Android 11 devices"
https://stackoverflow.com/q/70110433/3663594

 **I not able to download file in android 11 version devices.**

    **Details :**

    cordova android 10.1.0
    "cordova-plugin-file" version="6.0.2"
    "cordova-plugin-file-transfer" version="1.7.1"
    "cordova-plugin-filepath" version="1.6.0"

    **My Code:**

 Below code I written to download files device its working in android 9 and 10 , when